/* Calendar styling */
.calendar-with-totals {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  font-family: inherit;
}

.react-calendar {
  grid-column: 1 / 8;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  /* font-size: 0.75em; */
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  display: flex;
  justify-content: center;
  /* padding: 0.5rem 0; */
}

.react-calendar__month-view__weekdays__weekday abbr {
  color: #969696;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  /* font-size: 0.75rem; */
  cursor: default;
}

.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr);

  border-top: 1px solid #969696;
}

.react-calendar__tile {
  border-right: 1px solid #969696;
  border-bottom: 1px solid #969696;
  border-top: none;
  border-left: none;

  aspect-ratio: 1 / 1;
}

.react-calendar__tile:nth-last-child(-n+7) {
  border-bottom: none;
}

.react-calendar__tile--now abbr {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background-color: #1F8F1F;
}

/* Totals column styling */
.totals-column {
  grid-column: 8;
}

.totals-label {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  /* font-size: 0.75em;
  padding: 0.5rem 0; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1F8F1F;
}

.week-totals {
  display: grid;
  grid-template-rows: repeat(var(--row-count, 6), 1fr);
}

.week-total-cell {
  aspect-ratio: 1 / 1;
}

/* Sidebar styling */

#sideBar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 10px;
}

#activity_title {
  background-color: #2d2d2d;
  color: #969696;
  border-radius: 10px;
  border-color: #969696;
  width: 150px;
}

#activity_select {
  background-color: #2d2d2d;
  color: #969696;
  border-radius: 10px;
  border-color: #969696;
  width: 150px;
}

#distance {
  background-color: #2d2d2d;
  color: #969696;
  border-radius: 10px;
  border-color: #969696;
  width: 100px;
}
#distanceDrop {
  background-color: #2d2d2d;
  color: #969696;
  border-radius: 10px;
  border-color: #969696;
  width: 50px;
}

#duration {
  background-color: #2d2d2d;
  color: #969696;
  border-radius: 10px;
  border-color: #969696;
  width: 50px;
}

#avg_hr {  background-color: #2d2d2d;
  color: #969696;
  border-radius: 10px;
  border-color: #969696;
  width: 150px;
}

#max_hr {
  background-color: #2d2d2d;
  color: #969696;
  border-radius: 10px;
  border-color: #969696;
  width: 150px;
}

#notes {
  background-color: #2d2d2d;
  color: #969696;
  border-radius: 10px;
  border-color: #969696;
  width: 300px;
  height: 50px;
}

#elevation {
  background-color: #2d2d2d;
  color: #969696;
  border-radius: 10px;
  border-color: #969696;
  width: 150px;
}

#calories {
  background-color: #2d2d2d;
  color: #969696;
  border-radius: 10px;
  border-color: #969696;
  width: 150px;
}

#cadence {
  background-color: #2d2d2d;
  color: #969696;
  border-radius: 10px;
  border-color: #969696;
  width: 150px;
}

#power {
  background-color: #2d2d2d;
  color: #969696;
  border-radius: 10px;
  border-color: #969696;
  width: 150px;
}